@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #2a85ff;
    --color-primary-deep: #0069f6;
    --color-primary-mild: #4996ff;
    --color-primary-subtle: #2a85ff1a;
    --color-error: #ff6a55;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-neutral: #ffffff;

    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;
    --color-slate-950: #020617;
}

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
    }
}